extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.Pen_color}
          p Company is #{item.Pen_Company}
          p Cost is #{item.Pen_cost}
          
          
  script.
    function buy(thing) {
      thing = thing+1;
      alert(`You Purchased Item ${thing}`);
    }
